.productDisplay{
    padding-left: 20px;
    padding-right: 20px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.productDisplay h2{
    font-size: max(2vw, 24px);
    font-weight: 600;

}
.productDisplay-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;

}