.custom-scrollbar::-webkit-scrollbar {
  width: 400px; /* Độ rộng của thanh cuộn */
  height: 11px; /* Chiều cao của thanh cuộn ngang */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9; /* Màu thanh cuộn */
  border-radius: 20px; /* Bo góc */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #e5e7eb; /* Màu nền của track */
  border-radius: 20px; /* Bo góc track */
}



.scroll-category {
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent; 
  padding-bottom: 20px;
}
.scroll-category::-webkit-scrollbar {
  height: 6px;
}
.scroll-category::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-category::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
.scroll-category::before,
.scroll-category::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  z-index: 10;
  pointer-events: none;
}

.scroll-category::before {
  left: 0;
  background: #FFF4EE
}

.scroll-category::after {
  right: 0;
  background: #FFF4EE
}
