.logo{
    width: 44px;
}
.navbar-container{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 10px 20vw 0px 20vw;
    border-radius: 50px;
    height: 60px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    box-shadow: 0 0px 7px 1px #8EB486; 
    z-index: 1;
}
.navbar-center{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    list-style: none;
}
.navbar-center li{
    display: inline;
    margin: 0px 10px;
}
.navbar-center li:hover{
    transform: scale(1.5);
    font-weight: 600;
    transition: all 0.3s;
    cursor: pointer;
}
.navbar-left{
margin-left: -8px;
}
.button{
    display: flex;
    gap: 10px;
    align-items: center;
    list-style: none;
    transition: transform 0.3s ease;
    border-radius: 50px;
    /* border: #A52223 solid 2px; */
    padding: 0px 2px 0px 10px;
}
.custom-button-bg {
    background-color: #4CAF50; /* Green background */
  }
  
  .custom-button-text {
    color: black; /* White text */
    font-weight: 400;
    font-size: 14px;
  }
  
  .custom-hover-bg {
    background-color: #FDF7F4; /* Darker green on hover */
    border: 2px solid #4CAF50; /* Green border */
  }
/* .button:hover{
    transform: scale(1.1);
} */
.button img{
    width: 30px;
}
.navbar-right{
    font-size: small;
    margin-right: -1px;
    cursor: pointer;
}
