.exploreMenu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.exploreMenu h1{
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: large;
}

.explore-menu-list{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
    margin: 20px;
    /* overflow-x: scroll; */
    text-align: center;
}
.explore-menu-list-item img{
    width: 9vw;
    height: 9vw;
    /* min-width: 80%; */
    cursor: pointer;
    transition: 0.15s;
    border-radius: 60%;  
}
.explore-menu-list-item .active{
    border: 3px solid rgb(0, 255, 128);
    border-radius: 50%;
    padding: 3px;
}
.explore-menu-list-item img:hover{
    width: 9.5vw;
    height: 9.5vw;
    transition: 0.3s;
}
